h1{
font-size: 30px;
text-align: center;
margin-top: 20px;
margin-bottom: 20px;
}
label{
    margin-top: 10px;
    margin-bottom: 10px;
}
.submit-button{
    margin-top:25px;
    font-size : 18px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 30px;
}
.sticky {
    position: fixed;
    bottom: 0;
    right: 0;
}
