
/*Main App Style Sheet*/

html {
    overflow-x: hidden;
    overflow-y: scroll;
}

body {
    max-width: 900px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0px;
    overflow-x: hidden;
}
/* Footer Styles */
footer {
    position: relative;
}

.footer-label {
    padding: 5px;
    grid-row: 1;
}

.footer-p {
    display: grid;
    justify-content: space-between;
}

footer {
    text-align: center;
    width: 100%;
    border-top: 1px solid;
}

/* Header Styles */
header {
    justify-self: left;
}

.header-nav {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 2px solid #ffa7a7;
    align-items: center;
}

.header-nav>* {
    grid-row: 1;
}


.header-li {
    list-style: none;
    grid-row: 1;
    padding: 12px;
    cursor: pointer;
}

.logo {
    width: 50px;
    cursor: pointer;
}

a {
    text-decoration: none;
}

.header-li:hover {
    transition: 0.3s ease;
}

.author-p>* {
    grid-row: 1;
    font-weight: normal;
}

/* Blog Styles */
.blog-label {
    margin: 25px;
    font-size: 24px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    padding-bottom: 100px;
    text-align: center;
}

.whole-content {

    /* have newlines perform wrap */
    line-height: 1.8em;
    /* letter-spacing: 0.15em;
    font-size: 21px; */
    
  
}

.blog-h2 {
    font-size: 24px;
    text-align: center;
    padding: 0px;
}

.blog-li {
    line-height: 1.4;
    letter-spacing: 1.2px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
     white-space: pre-wrap;

}

.blogs-ul {
    border-radius: 10px;
}

.blog-icons {
    display: grid;
    justify-items: center;
    justify-content: end;
}

.blog-icons>* {
    grid-row: 1;
    padding-left: 15px;
    padding-right: 5px;
}

.blog-bottom {
    display: grid;
}

.blog-bottom>* {
    grid-row: 1;
}

.blog-info-p {
    background-color: rgb(255, 173, 201);
    display: grid;
    justify-content: space-between;
    padding: 7px;
    border-radius: 5px 5px 0 0;
}

.blog-info-p>* {
    grid-row: 1;
}

.blog-content {
    height: 300px;
    width: 80%;
}

.blog-image {
    width: 70%;
    vertical-align: middle;
    padding-top: 20px;
}


/* Form Style */
form {
    display: grid;
    justify-items: center;
}

.topics-label {
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    background-color: bisque;
    border-radius: 0 0 5px 5px;
}

summary {
    font-weight: bold;
    font-size: 14px;
    padding-right: 10px;
    padding-top: 3px;
    margin-bottom: 10px;
}

details {
    text-align: center;
    font-size: 14px;
    margin-bottom: 10px;
}

.photo-example{
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 8px;
}

section {
    text-align: center;
}

.title-label {
    font-weight: bold;
    font-size: 36px;
}

form>.reset-button {
    width: 150px;
}

form>.add-button {
    width: 120px;
}

form>.login-button {
    width: 120px;
}

input {
    margin-bottom: 20px;
    -webkit-appearance: none;
}

input[type=text] {
    padding-left: 15px;

}

/* Icons Styles */
.icon {
    font-size: 30px;
    transition: 0.2s;
}

.thumb {
    transition: 0.2s;
}

.icon {
    cursor: pointer;
}

.icon:hover {
    color: rgb(144, 0, 137);
}


.author-p {
    font-size: 14px;
    display: grid;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 5px;
    margin-left: 20px;
    font-size: 20px;
}

.avatar {
    width: 150px;
    border-radius: 13%;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-right: 20px;
    margin-left: 20px;
    border: 3px solid ;
    box-shadow: 1px 4px #888888;
}

.follow-icon {
    font-size: 36px;
    transition: 0.3s;
    padding-right: 10px;
    cursor: pointer;
}

summary {
    cursor: pointer;
}

.icon {
    cursor: pointer;
}

.follow-span {
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 15px;
    margin-left: 30px;
    margin-right: 20px;
}

.card-span {
    display: grid;
}

.card-span>* {
    grid-row: 1;
}

.blog-info-p {
    display: grid;
    justify-content: space-between;
    padding: 7px;
    border-radius: 5px 5px 0 0;
}

.blog-info-p>* {
    grid-row: 1;
}

.bottom-span {
    display: grid;
    align-items: center;
    margin-top: 40px;
}

.bottom-span>* {
    grid-row: 1;
}

header {
    justify-self: left;
}

.header-nav {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
}

.header-nav>* {
    grid-row: 1;
}

.nav-ul {
    display: grid;
    justify-content: flex-end;
    align-items: center;
    grid-gap: 30px;
}

figure {
    text-align: center;
    padding-bottom: 20px;
}

figcaption {
    font-size: 16px;
}

.info-block {
    width: 100%;
    display: grid;
    border-bottom: 2px solid;
}

form>.reset-button {
    width: 160px;
}

form>.add-button {
    width: 120px;
}

form>.login-button {
    width: 90px;
}


form>.edit-button {
    width: 90px;
}

/* tooltips html
source: https://www.w3schools.com/howto/howto_css_tooltip.asp

Tooltip container */

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted;
    /* If you want dots under the hoverable text */
}

/* Tooltip text */

.tooltip .tooltiptext {
    visibility: hidden;
    width: 100px;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.blog-date {
    text-align: center;
}

#date-text {
    text-align: center;
}

.error-message {
    padding: 15px;
}

textarea {
    padding: 15px;
    line-height: 1.8em;
    letter-spacing: 0.5px;
    text-indent: 30px;    
}

@media screen and (min-width: 1024px) {
    /* Styles go here */
    .blog-image {
        width: 50%;
    }
}

